@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-portal {
    background-image: url("/Portal.png");
    background-repeat: no-repeat;
    background-size: 62.5%;
    background-position: center;  
}